---
const traduccion = {
  
  es: [
    {
      encabezado: "Reservaciones",
      texto:
        "Contáctanos por medio del formulario, estarás enviándonos los datos necesarios para hacerte llegar  el presupuesto de tu estancia.",
      fullname: "Nombre completo",
      guests: "Numero de huespedes",
      checkin: "Fecha de llegada",
      checkout: "Fecha de salida",
      send: "Solcitar un presupuesto",
    },
  ],
};
import Anchor from "./Anchor.astro";

// const {lang} = Astro.props;
const lang = Astro.props.lang as "en" | "es";
---

<div id="reserva">
  <div id="bandeja">
    <h2>Reserva ahora tu habitación</h2>
    <p>
      Usa el formulario de contacto y <b>te haremos llegar un presupuesto</b> para el hospedaje de tus próximas vacaciones 
    </p>

    <form>
      <label for="name"
        >Nombre 
        <input
          type="text"
          name="name"
          id="name"
          required
          placeholder="nombre y primer apellido*"
        />
      </label>

      <label for="guests"
        >Numero de adultos
        <input
          type="number"
          name="guests"
          id="guests"
          required
          placeholder="mayores de 12 años"
        />
      </label>
      <label for="ninos"
        >Numero de niños
        <input
          type="number"
          name="ninos"
          id="ninos"
          placeholder="menores de 12 años"
        />
      </label>

      <label for="checkin"
        >Fecha de llegada
        <input
          type="date"
          name="checkin"
          required
          id="check-in"
          placeholder="Fecha de llegada*"
        />
      </label>

      <label for="checkout"
        >Fecha de salida
        <input
          type="date"
          name="checkout"
          id="check-out"
          placeholder="Fecha de salida*"
        />
      </label>
      <label for="tipo"
        >Selecciona el tipo de habitación
        <select name="tipo" id="tipo">
          <option value="Habitacion ideal">Habitación ideal (2 personas)</option>
          <option value="Habitacion companeros">Habitación compañeros (3 personas)</option>
          <option value="Habitacion familiar">Habitación familiar (4 personas)</option>
          <option value="Habitacion grupal">Habitación grupal (6 personas)</option>
        </select>
      
      </label>
      <!-- <button type="submit"  id="contactoBtn" >Get in touch</button> -->
      <Anchor
        url="#"
        clase="btn oscuro desactivado"
        texto="recibe tu presupuesto"
        id="contactoBtn"
        >
        <img src="/doble-check.svg" alt="icono anchor" />
      </Anchor>
    </form>
    <div id="msj"></div>
  </div>
</div>

<style lang="scss">
  @use "/src/estilos/variables.scss" as *;

  #reserva {
  
    @include cel {
      text-align: center;
      margin: 0 1.5rem;
      padding: 1rem;
    }
  }
  #bandeja {
    width: 60%;
    form {
      display: flex;
      flex-wrap: wrap;
      margin-top: $margen-cel;
    }
    label {
      flex: 1 0 100%;
      margin-bottom: 0.7rem;
      color: $naranja;
      font-weight: bold;
    }
    input, select {
      border-radius: 0.3rem;
      color: white;
      width: 100%;
      border: none;
      background: $azulmarino;
      padding: 0.7rem 0.5rem;
      font-size: clamp(1rem, 1rem, 1rem);
    }
    input::placeholder {
      color: white;
      font-size: clamp(1rem, 1rem, 1rem);
    }
    input:-ms-input-placeholder {
      color: white;
    }
    input::-moz-placeholder {
      color: white;
    }
    @include cel {
      width: 100%;
      label {
        text-align: left;
      }
    }
  }

</style>

<script>
  const name = document.getElementById("name") as HTMLInputElement;
  const guests = document.getElementById("guests") as HTMLInputElement;
  const ninos = document.getElementById("ninos") as HTMLInputElement;
  const checkin = document.getElementById("check-in") as HTMLInputElement;
  const checkout = document.getElementById("check-out") as HTMLInputElement;
  const tipo = document.getElementById("tipo") as HTMLInputElement;
  const empezar = document.getElementById("contactoBtn") as HTMLAnchorElement;
  const numeroWhats = 4431366979;

  // console.log(window.location.pathname + " location");

  //user agent
  const ua = navigator.userAgent;

  //si es cel app si es pc web.app
  const enviar = (e: Event) => {
    console.log('enviando');
    e.preventDefault();

    if (
      name.value === "" ||
      guests.value === "" ||
      ninos.value === "" ||
      checkin.value === "" ||
      checkout.value === "" ||
      tipo.value === ""
    ) {
      console.log("vacio");
    } else {
      empezar.classList.remove("desactivado");
    }
    //comprobar si es cel o pc
    let whats = "";
    if (/Mobile/i.test(ua)) {
      whats = `https://api.whatsapp.com/send/?phone=${numeroWhats}&text=`;
    } else {
      whats = `https://web.whatsapp.com/send/?phone=${numeroWhats}&text=`;
    }

    envio(
      whats,
      name.value,
      guests.value,
      ninos.value,
      checkin.value,
      checkout.value,
      tipo.value
    );
  };

  const envio = (
    whats: string,
    name: string,
    guests: any,
    ninos: any,
    checkin: any,
    checkout: any,
    tipo: any
  ) => {
    const url = `
  ${whats}Full%20Name:%20${name}%0aGuests:%20${guests}%0aCheck-in:%20${checkin}%0aCheck-out:%20${checkout}%0aEmail:%20${tipo}%0aComments:%20
  `;
    const urlEs = `
  ${whats}Nombre%20Completo:%20${name}%0aAdultos:%20${guests}%0aNiños:%20${ninos}%0aIngreso:%20${checkin}%0aSalida:%20${checkout}%0aHabitación:%20${tipo}%0aComentarios:%20
  `;

    if (window.location.pathname === "/") {
      empezar.href = urlEs;
    } else {
      empezar.href = url;
    }

    // empezar.href = url;
  };

  name.addEventListener("focusout", enviar);
  guests.addEventListener("focusout", enviar);
  ninos.addEventListener("focusout", enviar);
  checkin.addEventListener("focusout", enviar);
  checkout.addEventListener("focusout", enviar);
  tipo.addEventListener("focusout", enviar);
</script>
