---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../estilos/style.scss';
const currentLocale = Astro.currentLocale;
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hotel ubicado en el centro de Zihuatanejo, ideal para turistas que quieren estar cerca de la playa y los lugares de interés." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta property="og:locale" content="es_MX" />
		<meta property="og:type" content="article" />
		<meta
		  property="og:title"
		  content=`${title} - Hotel Manglar Zihuatanejo`
		/>
		<meta property="og:description" content=`Hotel ubicado en el centro de Zihuatanejo, ideal para turistas que quieren estar cerca de la playa y los lugares de interés.` />
		<!-- <meta property="og:url" content={url} /> -->
		<meta
		  property="og:site_name"
		  content="thebluerabylagoon.com"
		/>
		<meta property="og:image" content="../assets/gale/1.jpg" />
		<meta property="og:image:width" content="900" />
		<meta property="og:image:height" content="900" />
		<meta property="og:image:type" content="image/webp" />
		<meta name="twitter:card" content="summary_large_image" />
	</head>
	<body>
		<slot />
	</body>
</html>